<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <hook type="before_prepare" src="scripts/prebuild.js" />
    <name>Pasture Coach</name>
    <description>Pasture Coach App</description>
    <author email="support@pasturecoachnz.co.nz" href="https://www.pasturecoachnz.co.nz/">
        Pasture Coach Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
